* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.itBegins {
    background-color: green;
    width: 50%;
    /* max-width: 600px; */
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.itBegins h1 {
    font-weight: 25px;
    color: lightblue;
    font-weight: 200;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

.putQHere {
    padding: 20px 0
}

.putQHere h2 {
    font-size: 25px;
    color: darkblue;
    font-weight: 550;
}

.ans1 {}

.ans2 {}

.ans3 {}

.ans4 {}

.button {
    background: white;
    color: brown;
    font-weight: 500;
    width: 100%;
    border: 2px solid brown;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
}

.button:hover {
    background: goldenrod;
    columns: white;
}

.nextButton {
    color: brown;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 5px;
    cursor: pointer;
    /* display: none; */
}